.card{
    background-color: #e91e63;
    color: #fff;
    align-items: center;
    cursor: pointer;
    margin: 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card__inner{
    padding: 0 18px;
    color: #4D515A;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: inset;
}
.card__class{
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    font-size: 12px;
}

.card__type{
    background-color: #EBF1FC;
    color: #5D5FEF;
    padding: 6px;
    border-radius: 10px;
}

.card__title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 26px;
    margin-top: 26px;
}


.discription__block {
    max-width: 100%;
    max-height: 130px;
    overflow-y: auto; 
}

.low-priority{
    background-color: #10B981;
}

.medium-priority{
    background-color: #F59E0B;
}

.high-priority{
    background-color: #F43F5E;
}

.done-card{
    opacity: .5;
}
.todo-card{
    opacity: 1;
}

.hidden{
    display: none;
}

.card__priority{
    background-color: #EBF1FC;
    color: #5D5FEF;
    padding: 6px;
    border-radius: 10px;
}

.card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
}

.complete-button img{
    width: 30px;
    height: 30px;
}

.complete-button {
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
}


.archived-card {
    display: none;
}

.archive-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card__date{
    border-top: 1px solid #F2F2F2;
    padding-top: 26px;
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
}

.discription__block{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 26px;
}

.card__department{
    background-color: #EBF1FC;
    color: #5D5FEF;
    padding: 6px;
    border-radius: 10px;
}
