
.mainPage_hero{
    margin: 15% auto;
}
.mainPage_hero_inner{
    text-align: center;
}
.mainPage_hero_hello{
    color: white;
}

.mainPage_hero_BTN{
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: #7364FF;
    font-size: 20px;
}

.mainPage_hero_BTN:hover{
    opacity: 80%;
}